<header class="header">
    <a name="header"></a>
    <div class="topmenu">
        <nav class="nav">
            <a href="https://www.maisonsdumonde.com/ES/es/login" target="_blank"> <img class="nav__menu"
                    src="./assets/images/menu-icon.png" alt="menu" title="Hacer login" /></a>
        </nav>
        <nav class="navdesktop">
            <ul class="listdesktop">
                <li class="listdesktop__item">
                    <a class="listdesktop__item--link"
                        href="https://www.maisonsdumonde.com/ES/es/e/tendances-deco/landing" target="_blank"
                        alt="productos" title="Ir a productos">Productos</a>
                </li>
                <li class="listdesktop__item">
                    <a class="listdesktop__item--link"
                        href="https://www.maisonsdumonde.com/ES/es/e/tendances-deco/landing" target="_blank"
                        alt="colecciones" title="Ir a colecciones">Colecciones</a>
                </li>
                <li class="listdesktop__item">
                    <a class="listdesktop__item--link" href="https://www.maisonsdumonde.com/ES/es" target="_blank"
                        alt="tienda" title="Ir a la tienda">Tienda</a>
                </li>
                <li class="listdesktop__item">
                    <a class="listdesktop__item--link"
                        href="https://www.maisonsdumonde.com/ES/es/c/todas-las-novedades-de-2022-n1b3ed32e26576ce7666f722a0013438b3db7003"
                        target="_blank" alt="inicio" title="Ir al inicio">Inicio</a>
                </li>
            </ul>
        </nav>
        <div class="topmenu__logo">
            <img class="topmenu__logo--img" src="./assets/images/logo.png" alt="logo" title="Logo de Open Space" />
        </div>
    </div>
    <div class="div">
        <h1 class="title">Disfruta creando espacios</h1>
        <div class="button1">
            <form action="https://www.maisonsdumonde.com/ES/es/e/tendances-deco/landing" target="_blank"
                title="Ir a la tienda">
                <button class="button1__button">Comprar ahora</button>
            </form>
        </div>
    </div>
</header>