<section class="section1">
    <div class="section1__container1">
        <p class="text">Volverse organizado se vuelve mejor mejor con <span class="text__uppercase">open space</span>
        </p>
    </div>
    <div class="section1__container2">
        <div class="list__item">
            <img class="list__item--img1" src="./assets/images/icon_1.png" alt="Imagen de plantas"
                title="Imagen de plantas" />
            <h2 class="list__item--text">Lo que necesitas</h2>
            <p class="list__item--paragraph">Una línea de productos diseñados para todos tus espacios</p>
        </div>
        <div class="list__item">
            <img class="list__item--img2" src="./assets/images/icon_2.png" alt="Imagen de bolsa"
                title="Imagen de bolsa" />
            <h2 class="list__item--text">Materias primas sustentables</h2>
            <p class="list__item--paragraph">Una línea de productos diseñados para todos tus espacios</p>
        </div>
        <div class="list__item">
            <img class="list__item--img3" src="./assets/images/icon_3.png" alt="Imagen de cartel"
                title="Imagen de cartel" />
            <h2 class="list__item--text">Guía</h2>
            <p class="list__item--paragraph">Soporte y asesoramiento para ayudarte con tu objetivo</p>
        </div>
    </div>
</section>