<section class="section2">
    <div class="section2__divimg"><img class="section2__divimg--img" src="./assets/images/go_6.png" alt="Imagen camión"
            title="Imagen envío" /></div>
    <h2 class="section2__title">Envío gratis garantizado</h2>
    <p class="section2__text">Envíos gratis en compras desde 100</p>
    <div class="button2">
        <form action="https://www.maisonsdumonde.com/ES/es/e/tendances-deco/landing" target="_blank"
            title="Ir a la tienda">
            <button class="button2__button">Comprar ahora</button>
        </form>
    </div>
</section>