<section class="section3">
    <div class="section3__div">
        <h2 class="section3__div--title">Disfruta creando espacios</h2>
        <p class="section3__div--text">Una línea de productos diseñados para todos tus espacios</p>
        <div class="button3">
            <form action="https://www.maisonsdumonde.com/ES/es/e/tendances-deco/landing" target="_blank"
                title="Ir a la tienda">
                <button class="button3__button">Comprar ahora</button>
            </form>
        </div>
    </div>
    <div class="section3__divimg">
    </div>
</section>